html, body {
  font-size: 14px;
  font-family: Segoe, "myriad pro", myriad, arial; }

body {
  margin: 0; }

a, a * {
  color: #1d559b; }

a:visited {
  color: #1d559b; }

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 3px; }

h4 {
  display: inline;
  font-size: 1.7em; }

h3 {
  display: inline; }

table {
  font-size: 1em; }

th {
  background-color: #ccd2ed; }

#wrapper {
  margin: 10px; }

.error {
  color: #b11515; }

.okay {
  color: #16c81a; }

#gamelist tr {
  background-color: white; }

#main {
  margin-left: 200px;
  position: relative; }

.searchresults {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.searchresults li {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  padding: 10px; }

.boldtext {
  font-weight: bold; }

.italictext {
  font-style: italic; }

#gameselection {
  position: absolute;
  top: 100px;
  left: 470px;
  height: 320px;
  overflow: scroll; }
  #gameselection div {
    margin: 0;
    padding: 0; }
  #gameselection ul {
    list-style: none;
    line-height: 0.8em;
    margin: 0;
    padding: 0;
    font-size: 0.9em; }
  #gameselection p, #gameselection span {
    font-size: 0.7em; }
  #gameselection p {
    margin: 3px;
      margin-left: 0px;
      margin-bottom: 10px;
    line-height: 1.2em; }
  #gameselection h3 {
    margin: 0;
    color: #1f439a; }
  #gameselection a {
    text-decoration: none;
    color: #1f439a; }

#select_links {
  position: relative;
  height: 150px; }

#gamespot_selection {
  position: absolute;
  left: 300px;
  height: 150px;
  overflow: scroll; }

.result_wrap {
  border-bottom: 1px solid #999999;
  width: 500px;
  min-height: 28px;
  cursor: pointer; }

#gameselection .body table tr {
  cursor: pointer; }

.result_type strong {
  display: none; }

.platform {
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-top: 10px;
  background-color: black;
  width: auto; }

.release_date {
  font-weight: bold; }

.score_wrap .label {
  display: none; }

.metascore {
  background-color: #67eb63;
  padding: 2px;
  font-weight: bold; }

div.basic_stat {
  display: none; }

p.basic_stat, h3.basic_stat {
  margin-bottom: 10px;
  display: block; }

.field {
  font-size: 0.8em;
  line-height: 1.2em; }

.even {
  background-color: #e5e5e5; }

.odd {
  background-color: white; }

.list {
  border-collapse: collapse;
  font-size: 0.9em; }

.list td, .list th {
  font-size: 0.9em;
  border-bottom: 1px dotted #cccccc;
  height: 23px;
  line-height: 23px;
  padding: 0; }

.namecolumn {
  min-width: 120px; }

.yearcolumn, .ratingcolumn {
  min-width: 50px; }

.topnav {
  padding: 0;
  margin-bottom: 5px;
  list-style: none; }
  .topnav li {
    display: inline; }

.taglist {
  background-color: #f5f5f5; }

.type2 {
  color: #2f7c32; }

.type3 {
  color: #1b5196; }

.type4 {
  color: #912013; }

.type5 {
  color: #927e00; }

.parenttag {
  display: none; }

#browseby {
  float: left;
  background-color: #f5f5f5; }

.browsing_category {
  list-style: none;
  margin-left: 5px;
  padding-left: 5px;
  font-size: 0.9em;
  line-height: 1.2em; }

.browsing_subtags {
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 0; }

.browsing_subtags li {
  display: inline-block;
  margin-right: 15px; }

.browsing_category li ul a {
  color: #555555; }

#searchfield {
  width: 300px;
  font-size: 1.4em; }

#exists {
  padding-bottom: 10px;
  font-size: 0.9em;
  margin-top: 0;
  color: #8f1212; }

#reset {
  display: inline-block;
  background-color: #2d5f9f;
  color: white;
  margin-right: 10px;
  padding: 3px; }

#reset_link:hover {
  background-color: white; }

.purple, .yellow, .red, .orange {
  display: block;
  margin: 0;
  padding: 5px; }

.purple {
  border-left: 2px solid #a448e6;
  border-top: 2px solid #a448e6; }

.yellow {
  border-left: 2px solid #fff04a;
  border-top: 2px solid #fff04a; }

.red {
  border-left: 2px solid #ff5e5e;
  border-top: 2px solid #ff5e5e; }

.orange {
  border-left: 2px solid #ffa150;
  border-top: 2px solid #ffa150; }

#control {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #999999; }

#control ul {
  list-style: none;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0; }

#control ul li {
  display: inline-block;
  margin-right: 15px; }

.rating {
  color: #2b5098; }

.expanded_info {
  display: none;
  padding: 10px;
  background-color: #fdfdfd; }

.tagname {
  cursor: pointer; }

#live_search_results {
  width: 302px;
  position: absolute;
  background-color: white;
  top: 29px;
  left: 1px; }

#live_search_results ul {
  list-style: none;
  width: 100%;
  border: 1px solid #555555;
  border-top: none;
  display: inline-block;
  margin: 0;
  padding-left: 0; }
  #live_search_results ul li {
    margin: 2px; }
  #live_search_results ul a {
    display: block;
    font-size: 1.1em;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px; }
  #live_search_results ul .nothover {
    border: 1px solid white; }

.itemhover {
  background-color: #dce6fb;
  border: 1px solid #658cdb; }

#submit_container {
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
  left: 320px;
  top: 0px; }

#recommend_submit {
  font-size: 1.2em; }

#recommend_form {
  position: relative;
  margin-bottom: 0; }
